.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

 }

 .flex2 {
    display: flex;
    align-items: center;
    justify-content: center;

 }

.card {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 1100px;
    padding: 0 40px;
    margin: 0 auto;
    overflow: hidden;
}

.txt-c {
    text-align: center;
}

.my-2 {
    margin: 1.5rem 0;

}

.sm-f {
    font-size: 0.7rem;
}

.btn {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 45px;
    width: 60%;
    padding: 15px 0;
    background-image:linear-gradient(to right, hsl(136, 65%, 51%),  hsl(192, 70%, 51%));
    color: var(--White);
    font-size: 1.2rem;
}

 .up-down {
    position: fixed;
    bottom: 380px;
    display: none;
    right: 0;
   width: 50px;
   height: 30px;
   margin-right: 10px;
   background-image:linear-gradient(to right, hsl(136, 65%, 51%),  hsl(192, 70%, 51%));
   color: var(--White);
}
